@import '../variables';

.addnew-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.add-new-refugee-title.md-card-title {
  display: block;
  h2 {
    font-size: 36px;
    color: $black;
  }
}

.addnew-btn {
  margin-bottom: 40px !important;
}

.card-right {
  padding: 30px;
}

#image-input {
  margin-top: 40px;
}

#submit {
  margin-top: 10px;
  margin-bottom: 40px;
  p {
    font-size: 12px;
  }
}

input[type="text"] {
  color: $black;
  font-size: 18px;
}

.md-floating-label.md-floating-label--floating {
        color: $light-grey;
        font-size: 14px;
      }

.md-text-field-container--disabled {
      .md-divider {
        display: none;
        background: none;
      }
      .md-floating-label.md-floating-label--floating {
        color: $light-grey;
      }
    }

// SECCUESS POPUP
.md-dialog-container.md-overlay.md-pointer--hover.md-overlay--active {
  background-color: $greenrgba;
}

#success {
  width: 720px;
  height: 244px;
  
  img {
    height: 72px;
  }
  
  h1 {
    color: $green;
  }

  p {
    font-size: 21px;
    color: $light-grey;  
  }
}

@media only screen and (max-width: 500px) {
  .addnew-wrapper {
    width: 100%;
    .md-cell.md-cell--3 {
      width: 100%;
      }
    }
}

@media only screen and (max-width: 850px) {
  .addnew-wrapper {
    .md-cell.md-cell--3 {
      width: 100%;
      }
    }
}

.list-of-files {
  .list-items {
    padding-top: 15px;
  }
  a {
    color: $black;
  }
}

.md-inline-block.md-file-input-container {
  padding-top: 20px;
}