@import '../variables';

.App-logo {
  height: 60px; 
}
.Eth-logo {
  height: 120px
}
.uport-logo{
  height: 50px;
  padding-left: 15px;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
}
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;

  & > h2 {
    color: $white;
    font-size: 18px;
    margin-top: 14px;
    margin-left: 30px;
  }
}
.avatar{
  position: absolute;
  right:15px;
  width: 80px;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
