.Todo-list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Todos-card{
  padding: 20px
}
.preloader{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100px;
    p{
      margin-bottom: 0;
    }
  }