// Import standard theme color definitions
@import '../node_modules/react-md/src/scss/colors';

$white: #ffffff;
$almost-white: #fafafa;
$light-grey: #757575;
$black: #212121;
$green: #1de9b6;
$greenrgba: rgba(162, 255,235, .8);

$font-family: 'Open Sans', sans-serif;