@import "../variables";

.ref_logo {
  height: 56px;
  width: auto;
  margin-left: 20px;
  margin-top: 12px;
}
.userName {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 16px;
  color: #ccc;
}
.nav {
  .title-wrapper {
    background-color: $black;
    width: 100%;
    height: 80px;

    a {
      text-decoration: none;
    }

    h2 {
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      padding-left: 30px;
      padding-top: 2vh;
    }
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
    padding-top: 20px;

    .search-font {
      color: $green;
      font-size: 40px;
      margin-bottom: -5px;
    }
    
    .search-input {
      background-color: $white;
      width: 80%;
      padding-bottom: 30px;
      
      input[type="search"] {
        font-size: 24px;
      }

      @media only screen and (max-width: 500px) {
        
        input[type="search"] {
          font-size: 16px;
        }

        .search-font {
          font-size: 25px;
        }
        }

      .md-divider {
        display: none;
      }
    }

    .md-floating-label {
      color: $black;
    }
  }
}


